@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

header {
  padding: 10px 10%;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

header img {
  height: 100%;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  padding-right: 10px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header li:hover {
  color: blue;
  cursor: pointer;
  border-bottom: 1px solid blue;
}

.jumbotron {
  color: white;
  height: 30vw;
  overflow: hidden;
}

.jumbotron img {
  width: 100%;
}

main .comics-container {
  padding: 10px 10%;
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  background-color: rgb(28, 28, 28);
  color: white;
}

main .comics-container .card {
  min-height: 170px;
  width: 16.6666666667%;
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
}

main .comics-container .card img {
  width: 100%;
  height: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .blue-section {
  padding: 10px 10%;
  display: flex;
  background-color: rgb(23, 133, 245);
  width: 100vw;
}

main .blue-section ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: space-evenly;
}

main .blue-section ul li {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: white;
}

main .blue-section ul li img {
  height: 40%;
  width: auto;
  padding-right: 10px;
}

