footer {
    .top-footer {
        padding: 10px 10%;
        display: flex;
        max-height: 46vh;
        width: 100vw;
        background-image: url(("/images/footer-bg.jpg"));
        background-size: cover;
        justify-content: space-between;
        overflow-y: hidden;
        .lists-container {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            color: white;
            .list {
                display: flex;
                width: calc(100% / 3);
                h3 {
                    padding: 5px 0px;
                    font-size: 0.9rem;
                }
                ul {
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    li {
                        color: grey;
                        font-size: 0.8rem;
                    }
                }
            }
        }
        img {
            width: 50%;
            height: 100%;
            transform: translateY(-70px);
            flex-grow: 0;
        }
    }
    .bottom-footer {
        padding: 10px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10vh;
        background-color: rgb(48, 48, 48);
        button {
            background-color: rgb(48, 48, 48);
            color: white;
            border-radius: none;
            border-color: rgb(23, 133, 245);
            padding: 7px;
            font-size: 0.8rem;
        }
        div {
            display: flex;
            align-items: center;
            h3 {
                color: rgb(23, 133, 245);
                font-size: 0.8rem;
            }
            img {
                padding-left: 10px;
                width: 40px;
            }
        }
    }
}
