main {
    .comics-container {
        padding: 10px 10%;
        display: flex;
        flex-wrap: wrap;
        min-height: 50vh;
        background-color: rgb(28, 28, 28);
        color: white;
        .card {
            min-height: 170px;
            width: calc(100% / 6);
            padding: 10px;
            font-size: 0.8rem;
            text-align: center;
            img {
                width: 100%;
                height: 75%;
                object-fit: contain;
            }
        }
    }
    .blue-section {
        padding: 10px 10%;
        display: flex;
        background-color: rgb(23, 133, 245);
        width: 100vw;
        ul {
            display: flex;
            width: 100%;
            list-style-type: none;
            justify-content: space-evenly;
            li {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                color: white;
            }
            li img {
                height: 40%;
                width: auto;
                padding-right: 10px;
            }
        }
    }
}
